doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title PlatziVideo - By: Camilo Torres
      link(rel="preconnect" href="https://fonts.googleapis.com")
      link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
      link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet")
      link(rel="stylesheet", href="CSS/main.css")
   body.bg--primary

      include Components/_Header.pug

      main
         include Components/_Searcher.pug

         h2.carousel__title My List
         include Components/_Carousel.pug

         h2.carousel__title Trends
         include Components/_Carousel.pug

         h2.carousel__title Platzi Originals
         include Components/_Carousel.pug

      include Components/_Footer.pug