
<section class="carousel">
  <div class="carousel__container">
    <div class="carousel-item"><img class="carousel-item__img" src="Img/personas-1.jpg" alt="carousel image"/>
      <div class="carousel-item__details">
        <div class="carousel-item__details--container">
          <div class="carousel-item__details--icons"><img src="Img/SVG/i-play.svg" alt="Play"/><img src="Img/SVG/i-plus.svg" alt="Plus"/></div>
          <div class="carousel-item__details--txt">
            <p>Descriptive Title</p>
            <p>2019 16+ 114 minutos</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item"><img class="carousel-item__img" src="Img/personas-2.jpeg" alt="carousel image"/>
      <div class="carousel-item__details">
        <div class="carousel-item__details--container">
          <div class="carousel-item__details--icons"><img src="Img/SVG/i-play.svg" alt="Play"/><img src="Img/SVG/i-plus.svg" alt="Plus"/></div>
          <div class="carousel-item__details--txt">
            <p>Descriptive Title</p>
            <p>2019 16+ 114 minutos</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item"><img class="carousel-item__img" src="Img/personas-3.jpg" alt="carousel image"/>
      <div class="carousel-item__details">
        <div class="carousel-item__details--container">
          <div class="carousel-item__details--icons"><img src="Img/SVG/i-play.svg" alt="Play"/><img src="Img/SVG/i-plus.svg" alt="Plus"/></div>
          <div class="carousel-item__details--txt">
            <p>Descriptive Title</p>
            <p>2019 16+ 114 minutos</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item"><img class="carousel-item__img" src="Img/personas-4.jpg" alt="carousel image"/>
      <div class="carousel-item__details">
        <div class="carousel-item__details--container">
          <div class="carousel-item__details--icons"><img src="Img/SVG/i-play.svg" alt="Play"/><img src="Img/SVG/i-plus.svg" alt="Plus"/></div>
          <div class="carousel-item__details--txt">
            <p>Descriptive Title</p>
            <p>2019 16+ 114 minutos</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item"><img class="carousel-item__img" src="Img/personas-5.jpg" alt="carousel image"/>
      <div class="carousel-item__details">
        <div class="carousel-item__details--container">
          <div class="carousel-item__details--icons"><img src="Img/SVG/i-play.svg" alt="Play"/><img src="Img/SVG/i-plus.svg" alt="Plus"/></div>
          <div class="carousel-item__details--txt">
            <p>Descriptive Title</p>
            <p>2019 16+ 114 minutos</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item"><img class="carousel-item__img" src="Img/personas-6.jpg" alt="carousel image"/>
      <div class="carousel-item__details">
        <div class="carousel-item__details--container">
          <div class="carousel-item__details--icons"><img src="Img/SVG/i-play.svg" alt="Play"/><img src="Img/SVG/i-plus.svg" alt="Plus"/></div>
          <div class="carousel-item__details--txt">
            <p>Descriptive Title</p>
            <p>2019 16+ 114 minutos</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item"><img class="carousel-item__img" src="Img/personas-7.jpg" alt="carousel image"/>
      <div class="carousel-item__details">
        <div class="carousel-item__details--container">
          <div class="carousel-item__details--icons"><img src="Img/SVG/i-play.svg" alt="Play"/><img src="Img/SVG/i-plus.svg" alt="Plus"/></div>
          <div class="carousel-item__details--txt">
            <p>Descriptive Title</p>
            <p>2019 16+ 114 minutos</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>