.footer{
   display: flex;
   align-items: center;
   height: 100px;
   width: 100%;

   @media screen and (max-width: 600px) {
      align-items: flex-start;
      flex-direction: column;
   }

   a{
      color: #FFF;
      cursor: pointer;
      font-size: 14px;
      color: #FFF;
      text-decoration: none;
      padding-left: 30px;

      &:hover{
         text-decoration: underline;
      }

      @media screen and (max-width: 600px) {
         margin-bottom: 5px;
      }
   }
}