.header{
   align-items: center;
   color: #FFF;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   padding: 2rem;
   width: 100%;

   &__logo{
      width: 200px;
   }

   &__menu{
      position: relative;

      &--profile{
         align-items: center;
         display: flex;
         flex-flow: row nowrap;
         justify-content: center;

         img{
            margin-right: .5rem;
            width: 3rem;
         }
      }

      ul{
         position: absolute;
         top: 100%;
         right: 0;
         list-style: none;
         display: none;
         width: 150px;

         &:hover{
            display: block;
         }

         li{
            text-align: right;

            a{
               color: #FFF;
               text-decoration: none;

               &:hover{
                  text-decoration: underline;
               }
            }
         }
      }

      &:hover{
         ul{
            display: block;
         }
      }
   }
}