header.header
   img.header__logo(src="Img/Logo-platzi-video.png", alt="Logo Platzi Video", tabindex="0")
   .header__menu
      .header__menu--profile
         img(src="Img/SVG/i-user.svg", alt="user icon")
         p  Perfil
      ul
         li
            a(href="/") Cuenta
         li
            a(href="/") Cerrar Sesion